In [1]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
df_out=pd.read_csv('/content/drive/MyDrive/project/Train_Outpatientdata-1542865627584.csv')

In [7]:
df_in=pd.read_csv('/content/drive/MyDrive/project/Train_Inpatientdata-1542865627584.csv')

In [8]:
df_bnf=pd.read_csv('/content/drive/MyDrive/project/Train_Beneficiarydata-1542865627584.csv')

In [9]:
df_tr=pd.read_csv('/content/drive/MyDrive/project/Train-1542865627584.csv')

In [5]:
df_out.shape

(517737, 27)

In [10]:
df_in.shape

(40474, 30)

In [11]:
df_bnf.shape

(138556, 25)

In [12]:
df_tr.shape

(5410, 2)

In [13]:
df_out.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 517737 entries, 0 to 517736
Data columns (total 27 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   BeneID                  517737 non-null  object
 1   ClaimID                 517737 non-null  object
 2   ClaimStartDt            517737 non-null  object
 3   ClaimEndDt              517737 non-null  object
 4   Provider                517737 non-null  object
 5   InscClaimAmtReimbursed  517737 non-null  int64
 6   AttendingPhysician      516341 non-null  object
 7   OperatingPhysician      90617 non-null   object
 8   OtherPhysician          195046 non-null  object
 9   ClmDiagnosisCode_1      507284 non-null  object
 10  ClmDiagnosisCode_2      322357 non-null  object
 11  ClmDiagnosisCode_3      203257 non-null  object
 12  ClmDiagnosisCode_4      125596 non-null  object
 13  ClmDiagnosisCode_5      74344 non-null   object
 14  ClmDiagnosisCode_6      48756 non-null   object
 15  ClmDiagnosisCode_7      32961 non-null   object
 16  ClmDiagnosisCode_8      22912 non-null   object
 17  ClmDiagnosisCode_9      14838 non-null   object
 18  ClmDiagnosisCode_10     1083 non-null    object
 19  ClmProcedureCode_1      162 non-null     float64
 20  ClmProcedureCode_2      36 non-null      float64
 21  ClmProcedureCode_3      4 non-null       float64
 22  ClmProcedureCode_4      2 non-null       float64
 23  ClmProcedureCode_5      0 non-null       float64
 24  ClmProcedureCode_6      0 non-null       float64
 25  DeductibleAmtPaid       517737 non-null  int64
 26  ClmAdmitDiagnosisCode   105425 non-null  object
dtypes: float64(6), int64(2), object(19)
memory usage: 106.7+ MB

In [14]:
df_out.drop(['ClmProcedureCode_5','ClmProcedureCode_6'],axis=1,inplace=True)

In [15]:
df_in.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40474 entries, 0 to 40473
Data columns (total 30 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   BeneID                  40474 non-null  object
 1   ClaimID                 40474 non-null  object
 2   ClaimStartDt            40474 non-null  object
 3   ClaimEndDt              40474 non-null  object
 4   Provider                40474 non-null  object
 5   InscClaimAmtReimbursed  40474 non-null  int64
 6   AttendingPhysician      40362 non-null  object
 7   OperatingPhysician      23830 non-null  object
 8   OtherPhysician          4690 non-null   object
 9   AdmissionDt             40474 non-null  object
 10  ClmAdmitDiagnosisCode   40474 non-null  object
 11  DeductibleAmtPaid       39575 non-null  float64
 12  DischargeDt             40474 non-null  object
 13  DiagnosisGroupCode      40474 non-null  object
 14  ClmDiagnosisCode_1      40474 non-null  object
 15  ClmDiagnosisCode_2      40248 non-null  object
 16  ClmDiagnosisCode_3      39798 non-null  object
 17  ClmDiagnosisCode_4      38940 non-null  object
 18  ClmDiagnosisCode_5      37580 non-null  object
 19  ClmDiagnosisCode_6      35636 non-null  object
 20  ClmDiagnosisCode_7      33216 non-null  object
 21  ClmDiagnosisCode_8      30532 non-null  object
 22  ClmDiagnosisCode_9      26977 non-null  object
 23  ClmDiagnosisCode_10     3927 non-null   object
 24  ClmProcedureCode_1      23148 non-null  float64
 25  ClmProcedureCode_2      5454 non-null   float64
 26  ClmProcedureCode_3      965 non-null    float64
 27  ClmProcedureCode_4      116 non-null    float64
 28  ClmProcedureCode_5      9 non-null      float64
 29  ClmProcedureCode_6      0 non-null      float64
dtypes: float64(7), int64(1), object(22)
memory usage: 9.3+ MB

In [17]:
df_in.drop('ClmProcedureCode_6',axis=1,inplace=True)

In [18]:
df_inout=pd.concat([df_in,df_out],axis=0)

In [19]:
df_inout.shape

(558211, 29)

In [20]:
df_inout.info()

<class 'pandas.core.frame.DataFrame'>
Index: 558211 entries, 0 to 517736
Data columns (total 29 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   BeneID                  558211 non-null  object
 1   ClaimID                 558211 non-null  object
 2   ClaimStartDt            558211 non-null  object
 3   ClaimEndDt              558211 non-null  object
 4   Provider                558211 non-null  object
 5   InscClaimAmtReimbursed  558211 non-null  int64
 6   AttendingPhysician      556703 non-null  object
 7   OperatingPhysician      114447 non-null  object
 8   OtherPhysician          199736 non-null  object
 9   AdmissionDt             40474 non-null   object
 10  ClmAdmitDiagnosisCode   145899 non-null  object
 11  DeductibleAmtPaid       557312 non-null  float64
 12  DischargeDt             40474 non-null   object
 13  DiagnosisGroupCode      40474 non-null   object
 14  ClmDiagnosisCode_1      547758 non-null  object
 15  ClmDiagnosisCode_2      362605 non-null  object
 16  ClmDiagnosisCode_3      243055 non-null  object
 17  ClmDiagnosisCode_4      164536 non-null  object
 18  ClmDiagnosisCode_5      111924 non-null  object
 19  ClmDiagnosisCode_6      84392 non-null   object
 20  ClmDiagnosisCode_7      66177 non-null   object
 21  ClmDiagnosisCode_8      53444 non-null   object
 22  ClmDiagnosisCode_9      41815 non-null   object
 23  ClmDiagnosisCode_10     5010 non-null    object
 24  ClmProcedureCode_1      23310 non-null   float64
 25  ClmProcedureCode_2      5490 non-null    float64
 26  ClmProcedureCode_3      969 non-null     float64
 27  ClmProcedureCode_4      118 non-null     float64
 28  ClmProcedureCode_5      9 non-null       float64
dtypes: float64(6), int64(1), object(22)
memory usage: 127.8+ MB

In [21]:
df_bnf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 138556 entries, 0 to 138555
Data columns (total 25 columns):
 #   Column                           Non-Null Count   Dtype
---  ------                           --------------   -----
 0   BeneID                           138556 non-null  object
 1   DOB                              138556 non-null  object
 2   DOD                              1421 non-null    object
 3   Gender                           138556 non-null  int64
 4   Race                             138556 non-null  int64
 5   RenalDiseaseIndicator            138556 non-null  object
 6   State                            138556 non-null  int64
 7   County                           138556 non-null  int64
 8   NoOfMonths_PartACov              138556 non-null  int64
 9   NoOfMonths_PartBCov              138556 non-null  int64
 10  ChronicCond_Alzheimer            138556 non-null  int64
 11  ChronicCond_Heartfailure         138556 non-null  int64
 12  ChronicCond_KidneyDisease        138556 non-null  int64
 13  ChronicCond_Cancer               138556 non-null  int64
 14  ChronicCond_ObstrPulmonary       138556 non-null  int64
 15  ChronicCond_Depression           138556 non-null  int64
 16  ChronicCond_Diabetes             138556 non-null  int64
 17  ChronicCond_IschemicHeart        138556 non-null  int64
 18  ChronicCond_Osteoporasis         138556 non-null  int64
 19  ChronicCond_rheumatoidarthritis  138556 non-null  int64
 20  ChronicCond_stroke               138556 non-null  int64
 21  IPAnnualReimbursementAmt         138556 non-null  int64
 22  IPAnnualDeductibleAmt            138556 non-null  int64
 23  OPAnnualReimbursementAmt         138556 non-null  int64
 24  OPAnnualDeductibleAmt            138556 non-null  int64
dtypes: int64(21), object(4)
memory usage: 26.4+ MB

In [22]:
df_bnf.fillna(0,inplace=True)

In [23]:
df_mergd=pd.merge(df_inout,df_bnf,on='BeneID',how='outer')

In [24]:
df_mergd.shape

(558211, 53)

In [25]:
data=pd.merge(df_mergd,df_tr,on='Provider',how='outer')

In [26]:
data.shape

(558211, 54)